version: '3.7'

services:
  qdrant:
    container_name: qdrant_demo_qdrant
    image: qdrant/qdrant:v1.7.3
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./data/qdrant_storage:/qdrant/storage
    networks:
      - qdrant_network 

networks:
  qdrant_network:  
    driver: bridge
    name: qdrant_network